@import url("./reset.css");
@import url("./grid.css");
@import url("./font.css");

:root{
    --pop-bl:"Poppins-Black";
    --pop-bo:"Poppins-Bold";
    --pop-m:"Poppins-Medium";
    --pop-r:"Poppins-Regular";
    --pop-s:"Poppins-SemiBold";
    --green:#49AF46;
    --blue:#13B6FF;
    --orenge:#FF6331;
    --pink:#EC407A;
    --yellow:#FFC50C;
    --purple:#8540FF;
    --orenge-m:#F57F17;
    --base-coler:#0ABEAD;

    --text-color:#333333;
    --bgcolor:#fff;
    --section-bgcolor:#fff;

}
html{
    font-size: 10px;
}

body{
    font-family: var(--pop-r);
    font-size: 1.6rem;
    font-weight: 1.5;
}
a{
    text-decoration: none;
}
/*
================
    nav
================
*/
.header{
    display: flex;
    align-items: center;
    box-shadow: 0 3px 59px rgba(4, 195, 225, 0.16);
    z-index: 100;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: #fff;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}
.nav__logo{
    font-size: 7.8rem;
    font-family: var(--pop-bl);
    color: var(--base-coler);
}
.menu{
    display: flex;
    gap: 3rem;
    z-index: 101;
}
.menu__link{
    font-family: var(--pop-m);
    color: var(--text-color);
    transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
}
.menu__link:hover{
    color: var(--base-coler);
}
.menu-active{
    color: var(--base-coler);
}
.nav__toggle-icon{
    display: none;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-items: center;

}
.nav__toggle-link{
    position: relative;
    transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
}
.nav__toggle-link,
.nav__toggle-link::after,
.nav__toggle-link::before{
    content: " ";
    width: 4.5rem;
    height: .5rem;
    background-color: var(--base-coler);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.nav__toggle-link::before{
    position: absolute;
    top: 1rem;
    transition: all 150ms ease-in;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
}
.nav__toggle-link::after{
    position: absolute;
    top: -1rem;    
    transition: all 150ms ease-in;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
}
.nav-open .nav__toggle-link{
    background-color: transparent;
}
.nav-open .nav__toggle-link::after{
    transform:translateY(1rem) rotate(45deg);
    -webkit-transform:translateY(1rem) rotate(45deg);
    -moz-transform:translateY(1rem) rotate(45deg);
    -ms-transform:translateY(1rem) rotate(45deg);
    -o-transform:translateY(1rem) rotate(45deg);
}
.nav-open .nav__toggle-link::before{
    transform:translateY(-1rem) rotate(-45deg);
    -webkit-transform:translateY(-1rem) rotate(-45deg);
    -moz-transform:translateY(-1rem) rotate(-45deg);
    -ms-transform:translateY(-1rem) rotate(-45deg);
    -o-transform:translateY(-1rem) rotate(-45deg);
}
.cover{
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.2);
      z-index: -1;
      opacity: 0;
      transition: all 200ms ease-in;
      -webkit-transition: all 200ms ease-in;
      -moz-transition: all 200ms ease-in;
      -ms-transition: all 200ms ease-in;
      -o-transition: all 200ms ease-in;
}
.cover--show{
    opacity: 1;
    z-index: 99;
}
/*
============
    home
============
*/
.main{
    padding-top: 23rem;
}
.home{
    background-image: url(../images/shapes/Shape.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 74rem;
    background-size: contain;
}
.home__content{
    display: flex;
    flex-flow: column;
}
.home__name{
    font-family: var(--pop-s);
    font-size: 2.2rem;
    color: var(--base-coler);
}
.home__name >span{
    color: var(--orenge-m);
}
.home__title{
    font-family: var(--pop-bo);
    font-size: 4rem;
    color: var(--base-coler);
    margin-top: 2rem;
}
.home__caption{
    color: var(--text-color);
    margin-top: 1rem;
    opacity: 0.7;

}
.home___link-wrapper{
    display: flex;
    margin-top: 3rem;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;

}
/*
helper classes
*/
.align-item-center{
    align-items: center;
}
/*
component
*/
.btn{
    font-family: var(--pop-s);
    color: var(--bgcolor);
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    width: 18rem;
    height: 6rem;
    align-items: center;
    display: flex;
    justify-content: center;
}
.home__link-a{
    background-color: var(--base-coler);
    box-shadow: 0 1.5rem 4rem rgba(11,190,173,0.41);
}
.home__link-b{
    background-color: var(--orenge-m);
    box-shadow: 0 1.5rem 4rem rgba(245,127,23,0.41);
}
.home__photo{
    background-image: url(../images/image/header-avatar.jpg);
    background-repeat: no-repeat;
    height: 50rem;
    background-size: cover;
    border-radius: 100%;
    width: 50rem;
    box-shadow: 0 0 4rem rgba(96,233,255,0.27);
    background-position-x: center;
    border: 2rem solid var(--bgcolor);
}