@import url("./reset.css");
@import url("./grid.css");
@import url("./font.css");

:root{
    --pop-bl:"Poppins-Black";
    --pop-bo:"Poppins-Bold";
    --pop-m:"Poppins-Medium";
    --pop-r:"Poppins-Regular";
    --pop-s:"Poppins-SemiBold";
    --green:#49AF46;
    --blue:#13B6FF;
    --orenge:#FF6331;
    --pink:#EC407A;
    --yellow:#FFC50C;
    --purple:#8540FF;
    --orenge-m:#F57F17;
    --base-coler:#0ABEAD;

    --text-color:#333333;
    --bgcolor:#fff;
    --section-bgcolor:#fff;

}
html{
    font-size: 10px;
}

body{
    font-family: var(--pop-r);
    font-size: 1.6rem;
    font-weight: 1.5;
    
}
a{
    text-decoration: none;
}
/*
================
    nav
================
*/
.header{
    display: flex;
    align-items: center;
    box-shadow: 0 3px 59px rgba(4, 195, 225, 0.16);
    z-index: 100;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: #fff;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}
.nav__logo{
    font-size: 7.8rem;
    font-family: var(--pop-bl);
    color: var(--base-coler);
}
.menu{
    display: flex;
    gap: 3rem;
    z-index: 101;
}
.menu__link{
    font-family: var(--pop-m);
    color: var(--text-color);
    transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
}
.menu__link:hover{
    color: var(--base-coler);
}
.menu-active{
    color: var(--base-coler);
}
.nav__toggle-icon{
    display: none;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-items: center;

}
.nav__toggle-link{
    position: relative;
    transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
}
.nav__toggle-link,
.nav__toggle-link::after,
.nav__toggle-link::before{
    content: " ";
    width: 4.5rem;
    height: .5rem;
    background-color: var(--base-coler);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.nav__toggle-link::before{
    position: absolute;
    top: 1rem;
    transition: all 150ms ease-in;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
}
.nav__toggle-link::after{
    position: absolute;
    top: -1rem;    
    transition: all 150ms ease-in;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
}
.nav-open .nav__toggle-link{
    background-color: transparent;
}
.nav-open .nav__toggle-link::after{
    transform:translateY(1rem) rotate(45deg);
    -webkit-transform:translateY(1rem) rotate(45deg);
    -moz-transform:translateY(1rem) rotate(45deg);
    -ms-transform:translateY(1rem) rotate(45deg);
    -o-transform:translateY(1rem) rotate(45deg);
}
.nav-open .nav__toggle-link::before{
    transform:translateY(-1rem) rotate(-45deg);
    -webkit-transform:translateY(-1rem) rotate(-45deg);
    -moz-transform:translateY(-1rem) rotate(-45deg);
    -ms-transform:translateY(-1rem) rotate(-45deg);
    -o-transform:translateY(-1rem) rotate(-45deg);
}
.cover{
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.2);
      z-index: -1;
      opacity: 0;
      transition: all 200ms ease-in;
      -webkit-transition: all 200ms ease-in;
      -moz-transition: all 200ms ease-in;
      -ms-transition: all 200ms ease-in;
      -o-transition: all 200ms ease-in;
}
.cover--show{
    opacity: 1;
    z-index: 99;
}
/*
============
    home
============
*/
.main{
    padding-top: 23rem;
}
.home{
    background-image: url(../images/shapes/Shape.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 74rem;
    background-size: contain;
}
.home__content{
    display: flex;
    flex-flow: column;
}
.home__name{
    font-family: var(--pop-s);
    font-size: 2.2rem;
    color: var(--base-coler);
}
.home__name >span{
    color: var(--orenge-m);
}
.home__title{
    font-family: var(--pop-bo);
    font-size: 4rem;
    color: var(--base-coler);
    margin-top: 2rem;
}
.home__caption{
    color: var(--text-color);
    margin-top: 1rem;
    opacity: 0.7;

}
.home___link-wrapper{
    display: flex;
    margin-top: 3rem;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;

}
/*
helper classes
*/
.align-item-center{
    align-items: center;
}
.skew{
    transform: skewY(6deg);
    -webkit-transform: skewY(6deg);
    -moz-transform: skewY(6deg);
    -ms-transform: skewY(6deg);
    -o-transform: skewY(6deg);
}
.h-100{
    height: 100%;
}
/*
component
*/
.btn{
    font-family: var(--pop-s);
    color: var(--bgcolor);
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    width: 17rem;
    height: 6rem;
    align-items: center;
    display: flex;
    justify-content: center;
}
.home__link-a{
    background-color: var(--base-coler);
    box-shadow: 0 1.5rem 4rem rgba(11,190,173,0.41);
}
.home__link-b{
    background-color: var(--orenge-m);
    box-shadow: 0 1.5rem 4rem rgba(245,127,23,0.41);
}
.home__photo{
    background-image: url(../images/image/header-avatar.jpg);
    background-repeat: no-repeat;
    height: 50rem;
    background-size: cover;
    border-radius: 100%;
    width: 50rem;
    box-shadow: 0 0 4rem rgba(96,233,255,0.27);
    background-position-x: center;
    border: 2rem solid var(--bgcolor);
}
/*
===============
    about
===============
*/
.section-head{
    margin: 8rem auto;
    width: 24rem;
    text-align: center;
    position: relative;
}
.section-head__title{
    font-family: var(--pop-bo);
    color: var(--base-coler);
    font-size: 4.8rem;
}
.section-head__caption{
    color: var(--base-coler);
    margin: 2rem 0 3rem 0;
    letter-spacing: 0.25rem;
}
.section-head__line{
    border: 1px solid var(--base-coler);
    display: block;
}
.section-head__line::before{
    position: absolute;
    content: " ";
    width: 3rem;
    height: 1rem;
    background-color: var(--base-coler);
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 5rem;
    bottom: -4px;
}
.about{
    display: flex;
}
.about-cover{
    width: 50%;
    background-image: url(../images/image/about-us-man.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.about-content{
    width: 50%;
    padding: 5rem 0;
    padding-left: 2rem;
}
.about-content__title{
    font-family: var(--pop-s);
    font-size: 2.4rem;
    margin-bottom: 3rem;
}
.about-content__caption{
    color: var(--text-color);
    line-height: 2rem;
    text-align: justify;
}
.about-title{
    font-family: var(--pop-s);
    font-size: 1.8rem;
    color: var(--base-coler);
    margin-top: 8rem;
}
.about-list__item{
    color: var(--text-color);
    margin-left: 3rem;
    margin-top: 1rem;
}
.about-list__item::before{
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: var(--orenge);
    border-radius: 5rem;
    margin-top: 2px;
    margin-left: -2rem;
}
/*
===============
    services
===============
*/
.box{
    margin-bottom: 3rem;
    padding: 8rem 5rem;
    text-align: center;
    height: 41rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}
.box-services1{
    background-color: #8540FF;
    background-image: url(../images/box-shape/Shape1.png);
}
.box-services2{
    background-color: #FFC50C;
    background-image: url(../images/box-shape/Shape2.png);
}
.box-services3{
    background-color: #EC407A;
    background-image: url(../images/box-shape/Shape3.png);
}
.box-services4{
    background-color: #FF6331;
    background-image: url(../images/box-shape/Shape4.png);
}
.box-services5{
    background-color: #13B6FF;
    background-image: url(../images/box-shape/Shape5.png);
}
.box-services6{
    background-color: #49AF46;
    background-image: url(../images/box-shape/Shape6.png);
}
.box-services__title{
    font-family: var(--pop-bo);
    font-size: 2.4rem;
    color: var(--section-bgcolor);
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.box-services__caption{
    color: var(--section-bgcolor);
    line-height: 2rem;
    height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/*
===================
      resume
===================
*/
.resume{
    margin-top: 10rem;
    box-shadow:0 0 6rem rgba(19,182,255,0.25);
    padding: 1rem 0;
    transform:skewY(-6deg);
    -webkit-transform:skewY(-6deg);
    -moz-transform:skewY(-6deg);
    -ms-transform:skewY(-6deg);
    -o-transform:skewY(-6deg);
    background-color: var(--bgcolor);
    padding-bottom: 12rem;
}
.resume-list{
    box-shadow:0 0 2rem rgba(19,233,255,0.25);
    background-color: var(--bgcolor);
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 43rem;
}
.resume-list::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 4rem;
    background-color: var(--base-coler);
    z-index: -1;
}
.resume-list__item{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem 0;
    cursor: pointer;

}
.resume-list__item::before{
    position: absolute;
    content: "";
    width: 5.2rem;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: var(--base-coler);
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
}

.resume-list__item:last-child{
    margin-bottom: 0;
}
.resume-list__item--active{
    color:#fff;
    max-width:27rem;
}
.resume-list__item--active::before{
    width: 100%;
}
.resume-list__icon{
    width: 2.2rem;
    height: 2.2rem;
    margin: 0 0.9rem;
}
.resume-list__text{
    font-family: var(--pop-s);
    font-size: 1.8rem;
    margin-left: 1.8rem;
    transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
}
.resume-content{
    border-left: 2px solid var(--base-coler);
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 200ms ease-in;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    -ms-transition: opacity 200ms ease-in;
    -o-transition: opacity 200ms ease-in;
}
.resume-content--show{
    height: auto;
    padding: 3rem;
    opacity: 1;
    overflow: visible;
}
.resume-content__item{
    margin-bottom: 3rem;

}
.resume-content__item:last-child{
    margin-bottom: 0;
}
.resume-content__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.resume-content__title{
    font-family: var(--pop-s);
    color: var(--orenge);
    font-size: 2rem;
    position: relative;
}
.resume-content__title::before{
    position: absolute;
    content: "";
    left: -4rem;
    bottom: 0;
    top: 0;
    width: 2rem;
    height: 2rem;
    background-color: var(--base-coler);
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}
.resume-content__date{
    background-color: var(--orenge);
    color: #fff;
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    box-shadow: 0 0 4rem rgba(245, 127, 23, 0.27);
}
.resume-content__subtitle{
    font-family: var(--pop-s);
    margin-bottom: 1rem;
}
.resume-content__caption{}