:root{
    --pop-bl:"Poppins-Black";
    --pop-bo:"Poppins-Bold";
    --pop-m:"Poppins-Medium";
    --pop-r:"Poppins-Regular";
    --pop-s:"Poppins-SemiBold";
    --green:#49AF46;
    --blue:#13B6FF;
    --orenge:#FF6331;
    --pink:#EC407A;
    --yellow:#FFC50C;
    --purple:#8540FF;
    --orenge-m:#F57F17;
    --base-coler:#0ABEAD;

}