@media screen and (max-width: 1400px) {
    
}
@media screen and (max-width: 1200px) {
    .home__photo{
        width: 44rem;
        height: 44rem;
        margin: 0 auto;
    }
    .home{
        height: 70rem;
    }
    
}
@media screen and (max-width: 992px) {
    .home__photo{
        margin-bottom: 6rem;
        margin-top: -14rem;
    }
    .home___link-wrapper{
        justify-content: center;
    }
    .menu{
        gap: 2rem;
    }
    .nav__logo{
        font-size: 4.8rem;
    }
    .home__content{
        align-items: center;
    }
    .align-item-center{
        flex-direction: column-reverse;
    }
    .about-content{
        padding-left: 0;
    }
    .home__caption{
        text-align: center;
    }
    .about{
        flex-flow: column;
    }
    .about-cover{
       width: 100%;
       height: 44rem;
    }
    .about-content{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .menu{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: aqua;
        flex-direction: column;
        align-items: center;
        background-color: white;
        height: 0;
        overflow: hidden;
        transition: all 250ms ease-in-out;
        -webkit-transition: all 250ms ease-in-out;
        -moz-transition: all 250ms ease-in-out;
        -ms-transition: all 250ms ease-in-out;
        -o-transition: all 250ms ease-in-out;
}
    .menu--open{
        height: 28rem;
    }
    .menu__item:first-child{
        margin-top: 2rem;
    }
    .menu__item:last-child{
        margin-bottom: 2rem;
    }

    .nav__toggle-icon{
        display: flex;
    }
}
@media screen and (max-width: 576px) {

}
@media screen and (max-width: 480px) {
    .home__photo {
        width: 29rem;
        height: 29rem;
    }
    .home__title{
        font-size: 3rem;
    }
    .home__name{
        font-size: 1.9rem;
    }
    .home__caption{
        font-size: 1.4rem;
        text-align: center;
    }
    .btn{
        width: 100%;
    }

}
