@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {
    .menu{
        gap: 2rem;
    }
    .nav__logo{
        font-size: 4.8rem;
    }
}
@media screen and (max-width: 768px) {
    .menu{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: aqua;
        flex-direction: column;
        align-items: center;
        background-color: white;
        height: 0;
        overflow: hidden;
        transition: all 250ms ease-in-out;
        -webkit-transition: all 250ms ease-in-out;
        -moz-transition: all 250ms ease-in-out;
        -ms-transition: all 250ms ease-in-out;
        -o-transition: all 250ms ease-in-out;
}
    .menu--open{
        height: 28rem;
    }
    .menu__item:first-child{
        margin-top: 2rem;
    }
    .menu__item:last-child{
        margin-bottom: 2rem;
    }

    .nav__toggle-icon{
        display: flex;
    }
}
@media screen and (max-width: 576px) {

}
